.blogListContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1rem;
}

.blogList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 0;
  margin: 0;
}
